* {
  border: none;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

table {
  width: 300px;
  font: 17px Calibri;
}

table,
th,
td {
  border: 1px solid #ddd;
  border-collapse: collapse;
  padding: 2px 3px;
  text-align: center;
}

button:hover {
  outline: 3px solid #f10;
}

button {
  margin-top: 20px;
  background-color: #eee;
  padding: 10px 50px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 14px;
}
